<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Consulta de Noticias</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    @*<link href="~/css/Estilos.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/NuevosEstilos.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 ">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav nav-item ml-5 mr-4 mt-4 display-6">
                        <a class="nav-link text-dark" asp-page="/Index"><b>PORTADA</b></a>
                    </li>
                    <li class="nav nav-item ml-5 mr-4 mt-4" style="font-size:30px ">
                        <a class="nav-link text-dark" asp-page="/Noticias">NOTICIAS</a>
                    </li>
                </ul>
               
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@    

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            2021 - CONSULTA DE NOTICIAS - 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
