@model AdministrarNoticias.Fuente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar fuente</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FuenteId" />
            <div class="form-group">
                <label asp-for="NombreFuente" class="control-label">Nombre de la fuente</label>
                <input asp-for="NombreFuente" class="form-control" />
                <span asp-validation-for="NombreFuente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
